@font-face {
    font-family: "vazir";
    src: url(/fonts/vazir.ttf);
}

@font-face {
    font-family: "Tak";
    src: url(/fonts/impact.ttf);
}

* {
    padding: 0;
    margin: 0;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
}

body {
    font-family: "vazir";
}

.Tak {
    font-family: "Tak";
}

.hiden {
    display: none;
}

.color1 {
    background-color: #ff3333;
}

.color2 {
    background-color: #e2e0e0;
}

a {
    text-decoration: none;
}

.background-color1-op {
    background-color: #ff3333;
}

.border-color {
    border: #ff3333;
    border-color: #ff3333;
}

.color3 {
    background-color: rgb(71, 67, 67);
}

li {
    list-style-type: none;
}

.text-colorforbuyLow {
    color: rgb(94, 92, 92);
}

.text-colorforbuy {
    color: rgb(145, 145, 145);
}

.colorMoney {
    color: rgb(6, 199, 6);
}

.btncolorbuy {
    background-color: #00bfd6;
}

* {
    margin: 0;
    padding: 0;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.line-through {
    text-decoration-line: line-through;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

#instgram {
    color: rgb(0, 0, 0);
    transition: rotate 1s;
}

#freeze {
    position: fixed;
    z-index: 999;
}

#instgram:hover {
    rotate: 360deg;
    color: #ff3333;
}

.instgram1 {
    color: rgb(0, 0, 0);
    transition: rotate 1s;
}

.instgram1:hover {
    rotate: 360deg;
    color: #ff3333;
}

.instgram2 {
    color: rgb(0, 0, 0);
    transition: rotate 1s;
}

.instgram2:hover {
    rotate: 360deg;
    color: #ff3333;
}

@keyframes margin-right {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}