{% extends 'products/base.html' %} {% block body %}

<head>
    <style>
        .custom-pointer {
            cursor: default;
        }
        
        .custom-select {
            background: linear-gradient(to bottom, rgba(255, 50, 50, 0.8), rgba(204, 0, 0, 0.6));
            /* Faded red gradient */
            border: none;
            border-radius: 5px;
            color: #fff;
            /* White text color */
            padding: 8px 12px;
        }
        
        .custom-select option {
            background-color: rgba(255, 51, 51, 0.8);
            /* Faded red background color for options */
            color: #fff;
            /* White text color for options */
        }
        
        .custom-select:hover {
            background-color: rgba(255, 255, 255, 0.1);
            /* Light overlay on hover */
        }
    </style>
</head>

<div class="custom-pointer container mt-5 bg-white rounded-4 shadow">
    <div class="row">
        <div class="col-12 col-md-4">
            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>

                </div>
                <div class="carousel-inner">
                    {% for image in images %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %} mb-3" data-bs-interval="10000">
                        <img class="d-block w-100" src="{{ image.image.url }}" alt="{{ product.name }} Image">
                        <div class="carousel-caption d-none d-md-block"></div>
                    </div>
                    {% endfor %}
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <!--PRODUCT DELAIT AND INFOS -->
        <div class="col-12 col-md-8">
            <h4 class="mt-3">{{ product.name }}</h4>
            <div class="row mt-2 align-content-center">
                <div class="col-12 col-md-6 ">
                    <h6 class="text-colorforbuyLow mt-1 mt-5">توضیحات محصول: </h6>
                    <div class="d-flex">
                        <h6 class="text-colorforbuy mt-1">سازنده پردازنده:</h6>
                        <span class="text-black mx-1">Intel</span>
                    </div>

                    <div class="d-flex">
                        <h6 class="text-colorforbuy mt-1">فرکانس کاری پردازنده:</h6>
                        <span class="text-black mx-1">UP To 2.7 GHz</span>
                    </div>

                    <div class="d-flex">
                        <h6 class="text-colorforbuy mt-1">ظرفیت حافظه رم:</h6>
                        <span class="text-black mx-1">16GB</span>
                    </div>

                    <div class="d-flex">
                        <h6 class="text-colorforbuy mt-1 ">پردازنده گرافیک: </h6>
                        <span class="text-black mx-1">NVIDIA GTX</span>
                    </div>
                </div>

                <!--QEIMAT-->
                {% if product.is_sale %}
                <div class="col-md-9 mt-5 ">
                    <div class="p-3 rounded-5 " style="background-color: rgb(243, 243, 243);">
                        <div class=" text-colorforbuyLow d-flex justify-content-between">قیمت:
                            <span class=" colorMoney text-end">{{product.price}} تومان</span>
                            <span class=" colorMoney text-end">{{product.sale_price}} تومان</span>
                        </div>

                        {% else %}
                        <div class="p-3 rounded-5 " style="background-color: rgb(243, 243, 243);">
                            <div class=" text-colorforbuyLow d-flex justify-content-between">قیمت:
                                <span class=" colorMoney text-end">{{product.price}} تومان</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <!--tedad mahsol -->
                <div class=" text-colorforbuyLow d-flex justify-content-center">
                    <div class="input-group mt-4 ">
                        <button class="btn btn-outline-danger" type="button" onclick="decreaseQuantity()">
                                    <i class="bi bi-dash"></i>
                                </button>
                        <select class="form-select form-select-sm custom-select text-center " id="qty-cart">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                        <button class="btn btn-outline-danger" type="button" onclick="increaseQuantity()">
                                    <i class="bi bi-plus"></i>
                                </button>
                    </div>
                </div>

                <div class="d-grid gap-2 mt-3 text-center">
                    <span class="text-colorforbuy"> <small>تعداد موجود در انبار: </small> {{ product.inventory}}  </span>

                    <!--sabad kharid-->
                    <button class="btn color1 text-bg-btncolorbuy rounded-5 fw-bold btn-danger text-white-90" style="height: 60px;" type="button" value="{{ product.id }}" id="add-cart">افزودن به سبد خرید</button> {% if request.session.product_added_to_cart
                    %}
                    <div class="alert">
                        <p>Product added to cart successfully.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--TOZIHAT BISHTAR-->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 bg-white shadow mt-4">
            <h6 id="tozihatbishtar" class=" text-color1 mt-2 fw-bold mx-3 mt-3">ثوضیحات بیشتر</h6>
            <p id="matnezafe" class="hiden mt-3">
                <span class="text-black mt-3">{{ product.description }}</span>
            </p>
            <p class="text-end "><span id="dokmebastan" class=" text-color1 fw-bold hiden">بستن</span></p>
        </div>
    </div>
</div>

<!--RATIIIIIIIIIIIIIING-->
<div class="container mt-5 bg-white shadow rounded-5">
    <div class="row">
        <h4 class="mt-3 d-flex justify-content-center ">امتیاز و دیدگاه کاربران </h4>
        <div class="col-12 col-md-4 shadow rounded-4">
            <div class="d-flex justify-content-center">
                <ul>امتیاز کالا : {{product.average_rating}} از۵ </ul>
            </div>
            <div class="d-flex flex-column mb-3">
                <p class="text-colorforbuyLow d-flex justify-content-center ">شما میتوانید نظر های خود را در باره این کالا ثبت کنید</p>
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'add_review' product.id %}">
                    <div class="d-flex flex-column mb-3 ">
                        <div class="rate d-flex justify-content-center">
                            {% csrf_token %}
                            <div class="rate d-flex justify-content-center">
                                <input type="radio" id="star5" name="rating" value="5" />
                                <label for="star5" title="5">5 stars</label>
                                <input type="radio" id="star4" name="rating" value="4" />
                                <label for="star4" title="4">4 stars</label>
                                <input type="radio" id="star3" name="rating" value="3" />
                                <label for="star3" title="3">3 stars</label>
                                <input type="radio" id="star2" name="rating" value="2" />
                                <label for="star2" title="2">2 stars</label>
                                <input type="radio" id="star1" name="rating" value="1" />
                                <label for="star1" title="1">1 star</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">ثبت دیدگاه</button>
                </form>
                {% else %}
                <h6 class="fw-bold">ابتدا وارد شوید</h6>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <!-- Other input fields for username, password, etc. -->
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    <button type="submit" class="btn text-black btn-danger color1 mx-2"><a class="dropdown-item fw-bold" href="{% url "register_view" %}"> ورود | ثبت نام</a></button>
                </form>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-8 shadow">
            <div class="d-flex flex-column m-5">
                <ul>
                    {% for review in reviews %}
                    <li class="border border-2 text-colorforbuyLow p-2 border-danger my-2  rounded-3 ">
                        <p class="text-colorforbuyLow text-end mt-2 ms-2 d-flex justify-content-between">
                            <span>
                                            <i class="bi bi-person-circle mx-1"></i> {{ user.first_name }}                                      
                                        </span>
                            <span class="text-colorforbuyLow mx-2">امتیاز: {{ review.rating }}</span>
                        </p>
                        <p class="mt-4 mx-3"> {{ review.comment }} </p>
                        <div class="mt-1 mx-1" style="font-size: 0.75rem;">{{ review.created_at }}</div>
                    </li>
                    {% empty %}
                    <li>- فعلا نظری ثبت نشده -</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>













<script>
    // Check if button pressed
    $(document).on('click', '#add-cart', function(e) {
        e.preventDefault();
        var productID = $(this).val(); // Get the product ID from the button clicked
        var quantity = $('#qty-cart').val(); // Get the selected quantity

        $.ajax({
            type: 'POST',
            url: '{% url '
            cart_add ' %}',
            data: {
                product_id: $('#add-cart').val(),
                product_qty: $('#qty-cart option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function(json) {

                $('#cart_quantity').text(json.qty); // Update cart quantity on the page
                location.reload(); // Reload the page after adding to cart
            },
            error: function(xhr, errmsg, err) {

            }
        });
    })

    //tozihat bishtar mahsol
    const Tezafe = document.getElementById("tozihatbishtar");
    const textezafe = document.getElementById("matnezafe");
    const bastan = document.getElementById("dokmebastan");

    function ezafeha() {
        textezafe.classList.toggle("hiden")
        bastan.classList.toggle("hiden")
        Tezafe.classList.toggle("hiden")
    }

    Tezafe.addEventListener("click", ezafeha)

    function ezafeha() {
        textezafe.classList.toggle("hiden")
        bastan.classList.toggle("hiden")
        Tezafe.classList.toggle("hiden")
    }
    bastan.addEventListener("click", ezafeha)
</script>


{% endblock %}